SUPABASE_LEONNI_URL=https://seu-projeto-loja2.supabase.co
SUPABASE_LEONNI_ANON_KEY=sua_chave_publica_anonima_loja2
SUPABASE_LEONNI_SERVICE_KEY=SUA_SERVICE_ROLE_KEY_AQUI

PORT=3001
NODE_ENV=development


