
SUPABASE_LOJA1_URL=https://seu-projeto-loja1.supabase.co
SUPABASE_LOJA1_ANON_KEY=sua_chave_publica_anonima_loja1

SUPABASE_LOJA2_URL=https://seu-projeto-loja2.supabase.co
SUPABASE_LOJA2_ANON_KEY=sua_chave_publica_anonima_loja2

PORT=3001
NODE_ENV=development


