
SUPABASE_CLOSETCHIC_URL=https://seu-projeto-loja1.supabase.co
SUPABASE_CLOSETCHIC_ANON_KEY=sua_chave_publica_anonima_loja1

SUPABASE_LEONNI_URL=https://seu-projeto-loja2.supabase.co
SUPABASE_LEONNI_ANON_KEY=sua_chave_publica_anonima_loja2

PORT=3001
NODE_ENV=development


