
.navList {
  display: flex;
  flex-direction: column;
  list-style: none;
  gap: 10px;
}

.navLink {
  display:flex;
  align-items: center;
  min-width: 200px;
  color: #ffffff;
  font-weight: 500;
  padding: 7px 20px;
  border-left: 4px solid transparent; 
  border-radius: 10px;
  transition: border-color 0.3s ease, transform 0.2s ease;
  font-size: 20px;
}

.navLink:hover {
  border-color: #3498db; 
  transform: translateX(+3px); 
  transition: all 0.3s ease;
}

.navLink.active {
  color: #3498db; 
  border-color: #3498db; 
}

.title{
  font-size: 28px;
  font-weight: 700;
  color: white;
}

.icon {
  width: 24px;
  height: 24px;
  margin-right: 12px;
  display: inline-block;
  flex: 0 0 24px;
}

.navList li span{
  vertical-align: middle;
}