 
.app-container {
    display: flex;
    flex-direction: column; 
    min-height: 100vh;
}

 .page-container{
    display: flex;
    flex: 1;
 }

 .navbar{
    width: 250px;
    min-width: 250px;
 }

 .main-container{
   flex: 1;
   padding: 20px;
   overflow-y: auto;
 }